.root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    text-align: center;
    background-color: lightblue;
}

.title {
    display: inline-block;
}

.emptySelected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
}

@media screen and (max-width: 780px) {
    .header {
        text-align: center;
    }
}